@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/* 
메인 색상 fbf8ef

*/ 


* {

  font-family: 'Noto Sans KR', sans-serif;

}
.login01_wrapper{
  margin-top: 20vw;
  background-color: #00000000
}

.login01_wrapper .main{
  width: 50%;
  margin:30px auto;
  padding: 10px;
  text-align: center;
  border-color: #5a4001;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px rgba(160, 155, 155, 0.459);
  background-color: #fbf8ef;
}

.login01_wrapper .main .input_fields{
  display: inline-block;
  width: 100%;
  height: 30%;

}
.login01_wrapper .main .input_fields label{
  font-size: 3vw;
  margin: 4% auto 4%;
  display: inline-block;
  width: 50%;
}
.login01_wrapper .main .input_fields .input_field{
  margin: auto;
  width: 50%;
  outline: none;
  font-size: 1.9vw;
  border: 1px solid lightgrey;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgba(160, 155, 155, 0.267);
  margin-bottom: 2%;
  cursor: pointer;
}
.login01_wrapper .main .input_fields .id_pw {
  background-color: #faf2d9;

}
.login01_wrapper .main .input_fields .kakao {
  background: linear-gradient(-135deg,#dfdb15, #eecb6c);

}
.login01_wrapper .main .input_fields .signup-link{
  margin: auto;
  
  width: 50%;
  font-size: 1.7vw;
  margin-bottom: 2%;
}