@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/* fbf8ef */
* {
  font-family: 'Noto Sans KR', sans-serif;
}

.home_btn {
  float: right;
  right: 5%;
  bottom: 1%;
  position: fixed;
  font-size: 4vw;
}

.hidden {
  height: 0px;
  position: relative;
  z-index: 9998;
}

.hidden .menu-btn {
  float: right;
  right: 5%;
  top: 4%;
  position: fixed;
  font-size: 4vw;
}

#nav_btn:checked~.menu-btn {

  display: none;

}

#nav_btn:checked~#sidebar {
  left: 0;
  box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
}

#sidebar {
  position: fixed;
  background: #ecd599;
  height: 100%;
  width: 25%;
  overflow: hidden;
  left: -25%;
  transition: all 0.3s ease;
  z-index: 1;
}
#sidebar .list-items {
  position: relative;
  background: #ecd599;
  width: 100%;
  list-style: none;
}
#sidebar .list-items li {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  background-color: #ecd599;
  color: #5a4001;
  transition: all 0.3s ease;
}
#sidebar button{
  display: block;
  margin: auto;
  width: 50%;
  padding: auto;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(160, 155, 155, 0.267);
  cursor: pointer;
  font-size: 1vw;
  background: linear-gradient(-135deg,#dfdb15, #eecb6c);
}
#sidebar #sidebar_login_profile {
  margin-top: 10px;
  font-size: 2vw;
  font-weight: bold;
  padding: 0px 0px 0px 2vw;
  color: #5a4001;
}

#header {
  width: 100%;
  height: 10vw;
  line-height: 10vw;
  background-color: #fbf8ef;
}

#header .header_box {
  width: 100%;
  
}

#header .header_box img{
  
  margin-left: 1vw;
  width: 13vw;
  
}
.mainbar_btn_group {
  width: 100%;
  text-align: center;

}
.mainbar_btn_group button{
  outline: none;
  background: #ffffff00;
  border: #ffffff00;
  font-size: 2.2vw;
  font-weight: bold;
  color: #5a4001;
}
.mainbar_btn_group button:hover{
  
  color: black;
  
}
#main{
  background-color: #fbf8ef;
}
#cases {
  transform: translate(0,-110%);
  width: 60%;
  height: 5.5vw;
  background-color: #fbf8ef;
  margin: 0 auto
}


#search-box {
  background-color: #fbf8ef;
}
#search-box input{
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
  border-radius: 45px;
  background-color:#ffffff;
  height: 4vw;
}

#search-box input::placeholder {
  font-size: 1vw;
  transform: translate(0.2%,0);
}




/* #search-box {
  
  height: 50px;
  width: 100%;
  max-width: 700px;
  margin: 0px auto 0px auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
  border-radius: 25px;
  background-color:#fbf8ef;

}

#search-box input {
  
  height: 100%;
  width: 80%;
  border-radius: 25px;
  background-color:#fbf8ef;
  outline: none;
  border: none;
  padding-left: 30px;
  font-size: 18px;
}
#search-box input::placeholder{
  font-size: 2vw;
}

#search-box .icon {
  width: 10%;
  height: 8vw;
  max-height: 50px;
  float: right;
  top: 0;
  text-align: center;
  line-height: 50px;
  color:#5a4001;
  font-size: 20px;
  border-radius: 0 25px 25px 0;
  
}
#search-box .icon:hover {
  font-size: 30px;
  text-shadow: 4px 2px 2px gray;
}
 */



