<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="ko" dir="ltr">

<head>
  <!-- kakao -->
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <!-- jquery  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- jquery cookie  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </link>
  <link rel="stylesheet" href="../static/css/join.css">
  </link>
  <script src="../static/js/join.js"></script>
  <script src="../static/js/join_addressAPI.js"></script>
  <!-- 다음지도api -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
  <div id="cont">

  </div>
  
  <div class="join_wrapper">
    <div class="title">회원가입</div>
    <div action="#" class='join_input'>

      <div class="input-group join_input">
        <input type="text" class="form-control" id="input-username" placeholder="아이디">
        <span class="input-group-btn" style="width: 1%;"></span>
        <span class="input-group-btn" style="width: 30%;">
          <button class="btn btn-default join_btn" type="button" onclick="idChk()" style="width: 100%;">중복확인</button>
        </span>
      </div>
      <div class="join_input">
        <input type="password" class="form-control" id="input-password" placeholder="비밀번호">
      </div>
      <div class="join_input">
        <input type="password" class="form-control" id="input-password2" placeholder="비밀번호 확인">
      </div>
      <div class="join_input">
        <input type="text" class="form-control" id="input-name" placeholder="이름">
      </div>
      <div class="input-group join_input">
        <input type="text" class="form-control" id="admin_num_first" placeholder="주민번호" style="width: 40%;">
        <span class="input-group-btn" style="transform:translate(0,5px); text-align: center; width:4%;">
          -
        </span>
        <input type="text" class="form-control" id="admin_num_end" placeholder="" style="width: 7%; padding: 0; text-align: center;">
        <span style="width: 0.5%;"></span>
        <label class="form-control gray_label" style="width: 7%;">x</label> 
        <span style="width: 0.5%;"></span>
        <label class="form-control gray_label" style="width: 7%;">x</label> 
        <span style="width: 0.5%;"></span>
        <label class="form-control gray_label" style="width: 7%;">x</label> 
        <span style="width: 0.5%;"></span>
        <label class="form-control gray_label" style="width: 7%;">x</label> 
        <span style="width: 0.5%;"></span>
        <label class="form-control gray_label" style="width: 7%;">x</label> 
        <span style="width: 0.5%;"></span>
        <label class="form-control gray_label" style="width: 7%;">x</label>
      </div>

      <div class="input-group join_input">
        <label class="form-control gray_label">우편번호</label>
        <span class="input-group-btn" style="width: 1%;"></span>
        <label class="form-control gray_label" id="postcode" style="width: 43%;"></label>
        <span class="input-group-btn" style="width: 1%;"></span>
        <span class="input-group-btn" style="width: 30%;">
          <button class="btn btn-default join_btn" type="button"
            onclick="execDaumPostcode()">주소검색</button>
        </span>
      </div>

      <div class="input-group join_input">
        <label class="form-control gray_label">도로명</label>
        <span class="input-group-btn" style="width: 1%;"></span>
        <label class="form-control gray_label" id="roadAddress" style="width: 74%;"></label>
      </div>

      <div class="input-group join_input">
        <label class="form-control gray_label">지 번</label>
        <span class="input-group-btn" style="width: 1%;"></span>
        <label class="form-control gray_label" id="jibunAddress" style="width: 74%;"></label>
      </div>

      <div class="input-group join_input">
        <label class="form-control gray_label" style="background-color: white;">상세주소</label>
        <span class="input-group-btn" style="width: 1%;"></span>
        <input type="text" class="form-control" id="detailAddress" style="width: 74%;" placeholder="">
      </div>

      <button class="input-group submit_btn" onclick="join_btn()">가입하기</button>
    </div>

    <input type="text" id="sigungu" readonly style="display: none;">

  </div>

  <div id="footer">
    <img src="../static/img/footer_egg2.png">
  </div>
</body>

</html>