<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
    <!-- kakao -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- jquery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- jquery cookie  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </link>
    <link rel="stylesheet" href="../static/css/login01.css">
    </link>
    <script src="../static/css/login01.js"></script>
</head>

<body>
    <div id="cont">

    </div>
    
    <div class="login01_wrapper">

        <div class="main">
            
            <div class="input_fields">
                <label class="title">로그인</label>
                <br>
                <button class="input_field id_pw" onclick="alert('id_pw 로그인 페이지 이동')">ID/PW 로그인 하기</button>
                <br>
                <button class="input_field kakao" onclick="alert('카카오 가입/로그인 실행')">Kakao 로그인 하기</button>
            </div>
        </div>
    </div>


    </div>

</body>

</html>