<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="ko" dir="ltr">

<head>
    
    <!-- kakao -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- jquery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- jquery cookie  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </link>
    <script src="../static/js/main.js"></script>
    <!-- 홈버튼  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="../static/css/main.css">
    </link>
    
</head>

<body>

    <div id="cont">

    </div>

    <div id="ad_wrap">
        <!-----슬라이드 시작 -->
        <div class="slidebox">
            <input type="radio" name="slide" id="slide01" checked>
            <input type="radio" name="slide" id="slide02">
            <input type="radio" name="slide" id="slide03">
            <input type="radio" name="slide" id="slide04">
            <ul class="slidelist">
                <li class="slideitem">
                    <a>
                        <label for="slide04" class="prev"></label>
                        <img src="../static/img/slide01.png">
                        <label for="slide02" class="next"></label>
                    </a>
                </li>
                <li class="slideitem">
                    <a>
                        <label for="slide01" class="prev"></label>
                        <img src="../static/img/slide02.png">
                        <label for="slide03" class="next"></label>
                    </a>
                </li>
                <li class="slideitem">
                    <a>
                        <label for="slide02" class="prev"></label>
                        <img src="../static/img/slide03.png">
                        <label for="slide04" class="next"></label>
                    </a>
                </li>
                <li class="slideitem">
                    <a>
                        <label for="slide04" class="prev"></label>
                        <img src="../static/img/slide04.png">
                        <label for="slide01" class="next"></label>
                    </a>
                </li>

                <!-- <div class="contentment">
                    <button type="button" id="life_btn" onClick="fnMove('1')" class="btn">
                        <i class="bi bi-person-badge-fill"></i>
                        <p class="btn_name">생활복지</p>
                        <p class="btn_exp">생활 도움 정보
                    </button>
                    <button type="button" id="hos_btn" onClick="fnMove('3')" class="btn">
                        <i class="bi bi-suit-heart-fill"></i>
                        <p class="btn_name">의료복지</p>
                        <p class="btn_exp">의료회관정보
                    </button>
                    <button type="button" id="cul_btn" onClick="fnMove('2')" class="btn">
                        <i class="bi bi-calendar2-check-fill"></i>
                        <p class="btn_name">문화/여가</p>
                        <p class="btn_exp">문화,여가정보
                    </button>
                    <button type="button" id="map_btn" class="btn" onclick="go_map()">
                        <i class="bi bi-geo-alt-fill"></i>
                        <p class="btn_name">복지지도</p>
                        <p class="btn_exp">내주위 복지 정보
                    </button>
                </div> -->
            </ul>
        </div>
        <section id="row01" class="row" style="display: none;">
            <h2>검색결과 보기 </h2>
            <div class="contents">
                <div class="cards">
                    <div class="card_header">
                        <div class="main_view">복지</div><span id="gu_name">성북구</span>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">지하철 무임용 교통카드 발급,신청</h6>
                        <div id="hide">
                            <p class="card-text">구비서류 : 신청서, 신분증, 신용/체크카드 신청시 통장사본</p>
                            <p>발급대상 : 서울시 거주 만65세이상자(재외국민의 경우 서울시를 거소지로 신고한 만65세 이상 영주권자(F-5)), 장애인, 국가유공자중 수송시설 이용
                                지원대상자<br>
                                65세이상자 : 신용/체크카드 발급 - 신한은행 전 영업소, 단순무임카드 발급 - 서울시 모든 동주민센터//장애인 : 신용/체크카드 - 관할 주민등록주소지
                                동주민센터, 단순무임카드 발급 - 서울시 모든 동주민센터<br>
                                /국가유공자 : 보훈지청에서 발급</p>
                        </div>
                    </div>
                    <footer class="card_footer">
                        <a href="#" class="card-footer-item" target="blank">홈페이지</a>
                        <a href="#" class="card-footer-item">전화번호</a>
                        <a href="#" class="card-footer-item">지도</a>
                    </footer>
                </div>
            </div>

        </section>
      
        <!---생활복지 -->

        <section id="div2" class="row">

            <div id="B_title">
                <h2>생활복지</h2>
            </div>
            <h5>생활에 도움이 되는 복지 정보를 넣어요</h5>
            <!---생활복지 카드 내용-->
            <div class="contents">
                <div class="cards">
                    <div class="card_header">
                        <div class="main_view">복지</div><span id="gu_name">성북구</span>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">지하철 무임용 교통카드 발급,신청</h6>
                        <div id="hide">
                            <p class="card-text">구비서류 : 신청서, 신분증, 신용/체크카드 신청시 통장사본</p>
                            <p>발급대상 : 서울시 거주 만65세이상자(재외국민의 경우 서울시를 거소지로 신고한 만65세 이상 영주권자(F-5)), 장애인, 국가유공자중 수송시설 이용
                                지원대상자<br>
                                65세이상자 : 신용/체크카드 발급 - 신한은행 전 영업소, 단순무임카드 발급 - 서울시 모든 동주민센터//장애인 : 신용/체크카드 - 관할 주민등록주소지
                                동주민센터, 단순무임카드 발급 - 서울시 모든 동주민센터<br>
                                /국가유공자 : 보훈지청에서 발급</p>
                        </div>
                    </div>
                    <footer class="card_footer">
                        <a href="#" class="card-footer-item" target="blank">홈페이지</a>
                        <a href="#" class="card-footer-item">전화번호</a>
                        <a href="#" class="card-footer-item">지도</a>
                    </footer>
                </div>
                <div class="cards">
                    <div class="card_header">
                        <div class="main_view">복지</div><span id="gu_name">성북구</span>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">지하철 무임용 교통카드 발급,신청</h6>
                        <div id="hide">
                            <p class="card-text">구비서류 : 신청서, 신분증, 신용/체크카드 신청시 통장사본</p>
                            <p>발급대상 : 서울시 거주 만65세이상자(재외국민의 경우 서울시를 거소지로 신고한 만65세 이상 영주권자(F-5)), 장애인, 국가유공자중 수송시설 이용
                                지원대상자<br>
                                65세이상자 : 신용/체크카드 발급 - 신한은행 전 영업소, 단순무임카드 발급 - 서울시 모든 동주민센터//장애인 : 신용/체크카드 - 관할 주민등록주소지
                                동주민센터, 단순무임카드 발급 - 서울시 모든 동주민센터<br>
                                /국가유공자 : 보훈지청에서 발급</p>
                        </div>
                    </div>
                    <footer class="card_footer">
                        <a href="#" class="card-footer-item" target="blank">홈페이지</a>
                        <a href="#" class="card-footer-item">전화번호</a>
                        <a href="#" class="card-footer-item">지도</a>
                    </footer>
                </div>
                <div class="cards">
                    <div class="card_header">
                        <div class="main_view">복지</div><span id="gu_name">성북구</span>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">지하철 무임용 교통카드 발급,신청</h6>
                        <div id="hide">
                            <p class="card-text">구비서류 : 신청서, 신분증, 신용/체크카드 신청시 통장사본</p>
                            <p>발급대상 : 서울시 거주 만65세이상자(재외국민의 경우 서울시를 거소지로 신고한 만65세 이상 영주권자(F-5)), 장애인, 국가유공자중 수송시설 이용
                                지원대상자<br>
                                65세이상자 : 신용/체크카드 발급 - 신한은행 전 영업소, 단순무임카드 발급 - 서울시 모든 동주민센터//장애인 : 신용/체크카드 - 관할 주민등록주소지
                                동주민센터, 단순무임카드 발급 - 서울시 모든 동주민센터<br>
                                /국가유공자 : 보훈지청에서 발급</p>
                        </div>
                    </div>
                    <footer class="card_footer">
                        <a href="#" class="card-footer-item" target="blank">홈페이지</a>
                        <a href="#" class="card-footer-item">전화번호</a>
                        <a href="#" class="card-footer-item">지도</a>
                    </footer>
                </div>


            </div>

        </section>

        <!---의료복지-->
        <section id="div3" class="row" style="background-color: white;">
            <div id="B_title">
                <h2>의료복지</h2>
            </div>
            <h5>의료 복지 정보 모음입니다.</h5>
            <!---생활복지 카드 내용-->
            <div class="contents">
                <div class="cards">
                    <div class="card_header">
                        <div class="main_view">복지</div><span id="gu_name">성북구</span>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">지하철 무임용 교통카드 발급,신청</h6>
                        <div id="hide">
                            <p class="card-text">구비서류 : 신청서, 신분증, 신용/체크카드 신청시 통장사본</p>
                            <p>발급대상 : 서울시 거주 만65세이상자(재외국민의 경우 서울시를 거소지로 신고한 만65세 이상 영주권자(F-5)), 장애인, 국가유공자중 수송시설 이용
                                지원대상자<br>
                                65세이상자 : 신용/체크카드 발급 - 신한은행 전 영업소, 단순무임카드 발급 - 서울시 모든 동주민센터//장애인 : 신용/체크카드 - 관할 주민등록주소지
                                동주민센터, 단순무임카드 발급 - 서울시 모든 동주민센터<br>
                                /국가유공자 : 보훈지청에서 발급</p>
                        </div>
                    </div>
                    <footer class="card_footer">
                        <a href="#" class="card-footer-item" target="blank">홈페이지</a>
                        <a href="#" class="card-footer-item">전화번호</a>
                        <a href="#" class="card-footer-item">지도</a>
                    </footer>
                </div>
                <div class="cards">
                    <div class="card_header">
                        <div class="main_view">복지</div><span id="gu_name">성북구</span>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">지하철 무임용 교통카드 발급,신청</h6>
                        <div id="hide">
                            <p class="card-text">구비서류 : 신청서, 신분증, 신용/체크카드 신청시 통장사본</p>
                            <p>발급대상 : 서울시 거주 만65세이상자(재외국민의 경우 서울시를 거소지로 신고한 만65세 이상 영주권자(F-5)), 장애인, 국가유공자중 수송시설 이용
                                지원대상자<br>
                                65세이상자 : 신용/체크카드 발급 - 신한은행 전 영업소, 단순무임카드 발급 - 서울시 모든 동주민센터//장애인 : 신용/체크카드 - 관할 주민등록주소지
                                동주민센터, 단순무임카드 발급 - 서울시 모든 동주민센터<br>
                                /국가유공자 : 보훈지청에서 발급</p>
                        </div>
                    </div>
                    <footer class="card_footer">
                        <a href="#" class="card-footer-item" target="blank">홈페이지</a>
                        <a href="#" class="card-footer-item">전화번호</a>
                        <a href="#" class="card-footer-item">지도</a>
                    </footer>
                </div>
                <div class="cards">
                    <div class="card_header">
                        <div class="main_view">복지</div><span id="gu_name">성북구</span>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">지하철 무임용 교통카드 발급,신청</h6>
                        <div id="hide">
                            <p class="card-text">구비서류 : 신청서, 신분증, 신용/체크카드 신청시 통장사본</p>
                            <p>발급대상 : 서울시 거주 만65세이상자(재외국민의 경우 서울시를 거소지로 신고한 만65세 이상 영주권자(F-5)), 장애인, 국가유공자중 수송시설 이용
                                지원대상자<br>
                                65세이상자 : 신용/체크카드 발급 - 신한은행 전 영업소, 단순무임카드 발급 - 서울시 모든 동주민센터//장애인 : 신용/체크카드 - 관할 주민등록주소지
                                동주민센터, 단순무임카드 발급 - 서울시 모든 동주민센터<br>
                                /국가유공자 : 보훈지청에서 발급</p>
                        </div>
                    </div>
                    <footer class="card_footer">
                        <a href="#" class="card-footer-item" target="blank">홈페이지</a>
                        <a href="#" class="card-footer-item">전화번호</a>
                        <a href="#" class="card-footer-item">지도</a>
                    </footer>
                </div>
            </div>
        </section>
        <!---여가/문화복지 헤더-->
        <section id="div4" class="row">
            <div id="B_title">
                <h2>문화/여가</h2>
            </div>
            <h5>관공서에서 즐길수 있는 여러 여기활동 안내</h5>
            <!---생활복지 카드 내용-->
            <div class="contents">
                <div class="cards">
                    <div class="card_header">
                        <div class="main_view">복지</div><span id="gu_name">성북구</span>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">지하철 무임용 교통카드 발급,신청</h6>
                        <div id="hide">
                            <p class="card-text">구비서류 : 신청서, 신분증, 신용/체크카드 신청시 통장사본</p>
                            <p>발급대상 : 서울시 거주 만65세이상자(재외국민의 경우 서울시를 거소지로 신고한 만65세 이상 영주권자(F-5)), 장애인, 국가유공자중 수송시설 이용
                                지원대상자<br>
                                65세이상자 : 신용/체크카드 발급 - 신한은행 전 영업소, 단순무임카드 발급 - 서울시 모든 동주민센터//장애인 : 신용/체크카드 - 관할 주민등록주소지
                                동주민센터, 단순무임카드 발급 - 서울시 모든 동주민센터<br>
                                /국가유공자 : 보훈지청에서 발급</p>
                        </div>
                    </div>
                    <footer class="card_footer">
                        <a href="#" class="card-footer-item" target="blank">홈페이지</a>
                        <a href="#" class="card-footer-item">전화번호</a>
                        <a href="#" class="card-footer-item">지도</a>
                    </footer>
                </div>
                <div class="cards">
                    <div class="card_header">
                        <div class="main_view">복지</div><span id="gu_name">성북구</span>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">지하철 무임용 교통카드 발급,신청</h6>
                        <div id="hide">
                            <p class="card-text">구비서류 : 신청서, 신분증, 신용/체크카드 신청시 통장사본</p>
                            <p>발급대상 : 서울시 거주 만65세이상자(재외국민의 경우 서울시를 거소지로 신고한 만65세 이상 영주권자(F-5)), 장애인, 국가유공자중 수송시설 이용
                                지원대상자<br>
                                65세이상자 : 신용/체크카드 발급 - 신한은행 전 영업소, 단순무임카드 발급 - 서울시 모든 동주민센터//장애인 : 신용/체크카드 - 관할 주민등록주소지
                                동주민센터, 단순무임카드 발급 - 서울시 모든 동주민센터<br>
                                /국가유공자 : 보훈지청에서 발급</p>
                        </div>
                    </div>
                    <footer class="card_footer">
                        <a href="#" class="card-footer-item" target="blank">홈페이지</a>
                        <a href="#" class="card-footer-item">전화번호</a>
                        <a href="#" class="card-footer-item">지도</a>
                    </footer>
                </div>
                <div class="cards">
                    <div class="card_header">
                        <div class="main_view">복지</div><span id="gu_name">성북구</span>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">지하철 무임용 교통카드 발급,신청</h6>
                        <div id="hide">
                            <p class="card-text">구비서류 : 신청서, 신분증, 신용/체크카드 신청시 통장사본</p>
                            <p>발급대상 : 서울시 거주 만65세이상자(재외국민의 경우 서울시를 거소지로 신고한 만65세 이상 영주권자(F-5)), 장애인, 국가유공자중 수송시설 이용
                                지원대상자<br>
                                65세이상자 : 신용/체크카드 발급 - 신한은행 전 영업소, 단순무임카드 발급 - 서울시 모든 동주민센터//장애인 : 신용/체크카드 - 관할 주민등록주소지
                                동주민센터, 단순무임카드 발급 - 서울시 모든 동주민센터<br>
                                /국가유공자 : 보훈지청에서 발급</p>
                        </div>
                    </div>
                    <footer class="card_footer">
                        <a href="#" class="card-footer-item" target="blank">홈페이지</a>
                        <a href="#" class="card-footer-item">전화번호</a>
                        <a href="#" class="card-footer-item">지도</a>
                    </footer>
                </div>


            </div>

        </section>
    </div>

    <div id="footer">
        <img src="img/footer_egg2.png">
    </div>

</body>

</html>