<html>

<head>
    <script src="../static/js/main_sql.js"></script>
     <!-- kakao -->
     <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
     <!-- jquery  -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <!-- jquery cookie  -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
     <!-- bootstrap -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     </link>
     <!-- 홈버튼  -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
 
     <link rel="stylesheet" href="../static/css/main.css">
     </link>
</head>
<body>
    <label id="sidebar_sigungu">강서구</label>


    <section id="div3" class="row" style="background-color: white;">
        <div id="B_title">
            <h2>의료복지</h2>
        </div>
        <h5>의료 복지 정보 모음입니다.</h5>
        <!---의료복지 카드 내용-->
        <div class="contents" id="medical_contents">
            <div class="cards">
                <div class="card_header">
                    <div class="main_view">복지</div><span id="gu_name">성북구</span>
                </div>
                <div class="card-body">
                    <h6 class="card-title">지하철 무임용 교통카드 발급,신청</h6>
                    <div id="hide">
                        <p class="card-text" id="d1d1">
                    </div>
                </div>
                <footer class="card_footer">
                    <a href="#" class="card-footer-item" target="blank">홈페이지</a>
                    <a href="#" class="card-footer-item">전화번호</a>
                    <a href="#" class="card-footer-item">지도</a>
                </footer>
            </div>
            
        </div>
    </section>
</body>
</html>